.header1 {
  text-align: center;
  font-weight: 400;
  padding-top: 30px;
}
.header2 {
  text-align: center;
  font-weight: 400;
  padding-bottom: 30px;
}
.box {
  height: 600px;
  background-color: whitesmoke;
  /* width: 85%; */
  /* border: 1px solid red; */
  margin: auto;

  /* float: left; */
}
.gap {
  margin: 14px;
}
.avatar {
  height: 400px;
  margin-left: 80px;
}
.right {
  display: flex;
  float: right;
  margin-right: 120px;
  flex-direction: column;
}
.line {
  width: 260px;
  height: 5px;
  background-color: seagreen;
}
.funding {
  color: seagreen;
  font-size: 30px;
}
.backers {
  font-size: 30px;
}
.days {
  font-size: 30px;
}
.btn1 {
  color: white;
  width: 250px;
  height: 50px;
  background-color: seagreen;
}
.btn2 {
  width: 90px;
  height: 50px;
}
.tag {
  display: flex;
  flex-direction: row;
  margin: 10px;
  margin-left: 80px;
}
.nav {
  height: 35px;
  padding: 15px;
  justify-content: space-around;
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid gray;
}
.storyBox {
  margin: auto;
  width: 60%;
  /* border: 1px solid black; */
  text-align: center;
}
.bottomPart {
  display: flex;
  flex-direction: row;
}
.story {
  padding: 20px;
}
.social {
  display: flex;
  flex-direction: row;
}
.sideText {
  margin-top: 10px;
  font-size: 12px;
}
.rightBox {
  width: 200px;
  /* border: 1px solid black; */
}
