.header {
  text-align: center;
  font-weight: 400;
  padding-top: 30px;
}

/* .box {
  height: 600px;
  background-color: whitesmoke;
  margin: auto;

} */
.gap {
  margin: 14px 20px;
}
.avatar {
  height: 400px;
  margin-left: 80px;
}
.right {
  display: flex;
  /* float: right; */
  margin-right: 120px;
  flex-direction: column;
}
.line {
  width: 80%;
  height: 5px;
  background-color: seagreen;
}
.funding {
  color: seagreen;
  font-size: 30px;
}
.backers {
  font-size: 30px;
}
.days {
  font-size: 30px;
}
.btn1 {
  color: white;
  width: 84%;
  height: 45px;
  background-color: seagreen;
  border: 1px solid seagreen;
}
.btn2 {
  width: 50%;
  height: 45px;
  background-color: white;
  border: 1px solid grey;
}
.tag {
  display: flex;
  flex-direction: row;
  margin: 10px;
  margin-left: 80px;
}
.nav {
  height: 45px;
  justify-content: space-around;
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid gray;
  border-top: 1px solid gray;
}
.storyBox {
  margin: auto;
  width: 60%;
  /* border: 1px solid black; */
  text-align: center;
}
.bottomPart {
  display: flex;
  flex-direction: row;
}
.story {
  padding: 20px;
}
.social {
  display: flex;
  flex-direction: row;
}
.sideText {
  margin-top: 10px;
  font-size: 12px;
}
.rightBox {
  width: 200px;
  /* border: 1px solid black; */
}
